*.sav
*.bz2
/do-arc-extract-files
/do-arc-files
/do-arc-folder
/do-arc-list-folders
/do-backup-mydocuments
/do-backup
/do-backup-sav-files
/do-backup-file
/do-backup-documents
/do-backup-folder
/do-deb-pkg-find-file
/do-deb-howto
/do-deb-clean
/do-deb-pkg-install
/do-deb-pkg-search
/do-deb-pkg-update
/do-deb-pkg-files
/do-deb-pkg-list
/do-deb-pkg-info
/do-deb-pkg-depends
/do-deb-update-keys
/do-find-missing-files
/do-find-links
/do-find-string-filtered
/do-find-twin-files
/do-find-mom
/do-find-files-and-replace
/do-find-folders
/do-find-notebook
/do-find-dos-files
/do-find-symbols
/do-find-shared-folder
/do-find-test
/do-find-text-files
/do-find-string
/do-find-word
/do-find-files-upward
/do-find-filelines
/do-find-files
/do-find-release
/do-find-symbols-by-root-folder
/do-find-files-and-copy
/do-git-graph
/do-git-list-ignored
/do-git-log-file
/do-git-backup
/do-git-commit-unstaged
/do-git-get-parent-branch
/do-git-generate-patch-all
/do-git-amend-author
/do-git-list-tags
/do-git-cherry-pick-branch-commits
/do-git-conf-author
/do-git-print-user-profile
/do-git-standup
/do-git-find-best-match-release
/do-git-conv-to-bare-repo
/do-git-diff
/do-git-cfile
/do-git-pull
/do-git-list-last-committed-files
/do-git-uncommit-single-file
/do-git-conf-editor
/do-git-status-check
/do-git-show
/do-git-create-bare-repo
/do-git-list-modified
/do-git-cherry-pick
/do-git-amend-old
/do-git-export
/do-git-find-largest-objects
/do-git-list-other-last
/do-git-list-other
/do-git-change-author-info
/do-git-link-to-bare-repo
/do-git-print-rev
/do-git-print-common-ancestor-rev
/do-git-bump-version
/do-git-commit
/do-git-branch
/do-git-diff-with-parents
/do-git-diff-all
/do-git-push
/do-git-branch-code-cleanup
/do-git-merge-branch
/do-git-list-tracked-to-be-ignored
/do-git-diff-ids
/do-git-edit
/do-git-build-demo-repo
/do-git-pre-commit-check-java-imports
/do-git-update-remote
/do-git-add-files
/do-git-log-branch
/do-git-diff-selected
/do-git-find-history-change
/do-git-branch-for-code-review
/do-git-switch
/do-git-tag
/do-git-diff-with-linenumbers
/do-git-status
/do-git-list-tracked-files
/do-git-find-common-ancestor
/do-git-diff-committed
/do-git-log-no-merges
/do-git-ignore
/do-git-blame
/do-git-help
/do-git-print-clone-command
/do-git-show-history
/do-git-cat-user
/do-git-diff-stat
/do-git-forget-blob
/do-git-stash
/do-git-flow
/do-git-ls
/do-git-howto
/do-git-reset
/do-git-diff-cached
/do-git-list-last-committed-changes
/do-git-log
/do-git-rebase-tags
/do-git-branches-status
/do-git-clone
/do-git-find-parent
/do-git-uncommit
/do-howto-commit
/do-howto-list
/do-howto-create
/do-howto-update
/do-howto-edit
/do-howto-search
/do-howto-print
/do-pipe-paths-links-in-folder
/do-pipe-uppercase
/do-pipe-to-notebook
/do-pipe-to-tar
/do-pipe-splitted-words
/do-pipe-aggregated-lines
/do-pipe-filename-and-linenumber
/do-pipe-git-commit-patch
/do-pipe-lines-numbers
/do-pipe-uniq
/do-pipe-table-prettyprinted
/do-pipe-sorted-text-objects
/do-pipe-to-vim
/do-pipe-rows
/do-pipe-master-slave-rows
/do-pipe-merged-rows-2
/do-pipe-files-to-backup-archive
/do-pipe-merged-rows
/do-pipe-to-command
/do-pipe-to-patch
/do-pipe-text-with-changed-words
/do-pipe-cmd-to-bash
/do-pipe-cntlrless-text
/do-pipe-text-without-header
/do-pipe-diff-string
/do-pipe-no-empty-lines
/do-pipe-files-strings
/do-pipe-words
/do-pipe-wrapped-text
/do-pipe-files-with-diffs
/do-pipe-text-blocks
/do-pipe-column-increment
/do-pipe-git-commit-log
/do-pipe-highlighted-string
/do-pipe-to-howto
/do-pipe-gdb-list-callstack
/do-pipe-text-prefixed-by
/do-pipe-num-text-lines
/do-pipe-code-without-comments
/do-pipe-timeless-log
/do-pipe-pure-text
/do-pipe-words-delimited-by
/do-pipe-diff-paths
/do-pipe-dumph-synthesis
/do-pipe-files-into-folder
/do-pipe-joined-two-rows
/do-pipe-cfile-first-line
/do-pipe-text-with-first-word-letter
/do-pipe-csv
/do-pipe-paths-to-vim
/do-pipe-folders-paths
/do-pipe-to-file
/do-pipe-columns-swapped
/do-pipe-text-without-words-in
/do-pipe-string-occurences
/do-pipe-text-stringfied
/do-pipe-words-in
/do-pipe-diff-with-linenumbers
/do-pipe-files-content
/do-pipe-trimmed
/do-pipe-file-lines
/do-pipe-to-notes
/do-pipe-cfile-to-vim
/do-pipe-diff-without-useless-whitespaces
/do-pipe-git-diff
/do-pipe-multilines
/do-pipe-map
/do-pipe-to-cmd
/do-pipe-number-of-semicolon-chars
/do-pipe-text-without-whitespaces
/do-pipe-sum
/do-pipe-text-with-unix-endofline
/do-pipe-to-console-and-file
/do-pipe-columns
/do-pipe-arrays-sizes
/do-pipe-aggregated-common-lines
/do-pipe-paths-of
/do-pipe-cfile-paths
/do-pipe-compilation-steps
/do-sec-mount-folder
/do-sec-encrypt
/do-sec-decrypt
/do-sec-umount-folder
/do-sys-unlink
/do-sys-path
/do-sys-link
/do-sys-install-bash-customization
/do-sys-list-disk-usage
/do-sys-proc-search-and-kill
/do-sys-add-user-to-group
/do-sys-info
/do-sys-add-user
/do-vim-list-paths
/do-vim
/do-vim-make
/do-cmd-exe
/do-cmd-edit
/do-cmd-index
/do-cmd-status
/do-cmd-groups
/do-cmd-add
/do-cmd-check-all
/do-cmd-groups-slinks
/do-cmd-diff
/do-cmd-ls
/do-cmd-find
/do-cmd-aliases
/do-cmd-update
/do-cmd-list-dependencies
