*.sav
*.bak
*.bz2
/az/data
/bin/nvim
/bin/mgit
/bin/wezterm
/bin/do-wezterm
/bin/do_cmd_counts.csv
/bin/do_cmd_index.csv
/bin/do_git_conf_author.csv
/bin/gucci
/neovim
/.cache
/bin/do-arc*
/bin/do-backup*
/bin/do-cli*
/bin/do-cmd*
/bin/do-data*
/bin/do-deb*
/bin/do-oci*
/bin/do-find*
/bin/do-fs*
/bin/do-git*
/bin/do-howto*
/bin/do-img*
/bin/do-k8s*
/bin/do-net*
/bin/do-pdf*
/bin/do-pipe*
/bin/do-sec*
/bin/do-sys*
/bin/do-tf*
/bin/do-vim*
/bin/do-web*
/bin/do-az*
/bin/do-arkade
bin/sops
git/do-git-filter-repo
/bin/do-publish*
