*.sav
*.bz2
.cache
/bin/do-arc*
/bin/do-backup*
/bin/do-cli*
/bin/do-cmd*
/bin/do-data*
/bin/do-deb*
/bin/do-oci*
/bin/do-find*
/bin/do-fs*
/bin/do-git*
/bin/do-howto*
/bin/do-img*
/bin/do-k8s*
/bin/do-net*
/bin/do-pdf*
/bin/do-pipe*
/bin/do-sec*
/bin/do-sys*
/bin/do-tf*
/bin/do-vim*
/bin/do-web*
bin/do-arkade
bin/nvim
/home/devkit/wbin/.cache/wbin/git/do-git-filter-repo
/home/devkit/wbin/.cache/wbin/bin/do-arkade
/home/devkit/wbin/.cache/wbin/bin/nvim
/home/devkit/wbin/.cache/bin/git/do-git-filter-repo
/home/devkit/wbin/.cache/bin/bin/do-arkade
/home/devkit/wbin/.cache/bin/bin/nvim
bin/wezterm
bin/do-wezterm
bin/gucci
neovim
